rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profile_documents/{profileId}/{role}/{documentType}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == profileId;
      allow delete: if request.auth != null && request.auth.uid == profileId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}